:root {
	--vp-c-brand-lighter: #80b9ff;
	--vp-c-brand-light: #59a4ff;
	--vp-c-brand: #1769e0;
	--vp-c-brand-dark: #1257bc;
	--vp-c-brand-darker: #0d438f;
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(115deg, #101b2a 12%, #1769e0 58%, #59a4ff);
	--vp-button-brand-bg: #1769e0;
	--vp-button-brand-hover-bg: #1257bc;
	--vp-button-brand-active-bg: #0d438f;
	--vp-c-brand-1: #1769e0;
}

.dark {
	--vp-c-bg: #0b1320;
	--vp-c-brand-lighter: #b7d7ff;
	--vp-c-brand-light: #80b9ff;
	--vp-c-brand: #59a4ff;
	--vp-c-brand-dark: #2f82ed;
	--vp-c-brand-darker: #1769e0;
	--vp-button-brand-bg: #1769e0;
	--vp-button-brand-hover-bg: #2f82ed;
	--vp-button-brand-active-bg: #1257bc;
	--vp-c-brand-1: #80b9ff;
}
